.header
  h1 Swell
  .user
    +avatar

.view
  .row
    .col-xs-10.col-xs-offset-1.searchbox
      input.typehead.form-control(type='text', placeholder="Search for a Surf Spot", rel="search")
    +_orBreak

  .row
    .col-xs-10.col-xs-offset-1
      select.form-control.location-select(name='continents')
        each continents
          option(value=continent)= continent

      select.form-control.location-select(name='regions')
        each regions
          option(value=region)= region

      select.form-control.location-select(name='spots')
        each spots
          option(value=spot)= spot

  button(role="button").btn.btn-primary.btn-lg.button-submit See Surf Spot

  .row
    .col-xs-10.col-xs-offset-1
      #map-canvas
        +googleMap name="surfLocations" options=mapOptions
