// vars
$color-secondary-text: rgb(255, 158, 56);
$color-save: rgba(69, 224, 224, 0.55);
$color-info-dimmed: rgba(184, 181, 240, 0.6);
$font-logo: 'Great Vibes', cursive;
$font-main: 'Source Sans Pro', sans-serif;


body, html{
	height: 100%;

	font-weight: 300;
	color: white;
	font-family: $font-main;

	z-index: -3;

}

.wrapper{
	position: relative;

	// don't allow horizontal scroll bar
	overflow-x: hidden;

	max-width: 700px;
	min-height: 100%;
	margin: auto;
	display: block;
}

.wrapper::before{
	/*set background image with overlay*/
	content: '';
	background: linear-gradient(rgba(79, 158, 245, .2),rgba(79, 158, 245, .7)),
		url("../img/footer_lodyas.png");

	/*fixes background image*/

	opacity: 0.9;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	max-width: 700px;
	margin: auto;

}

.button-submit{
	display: block;
	width: 60%;
	margin: auto;
	position: relative;
	z-index: 1;
}

.or-break{
	border-color: black;
	background-color: #000;
	margin-top: 30px;
	margin-bottom: 10px;
}

.or-text{
	color: black;
	text-align: center;
	font-size: 2rem;
	margin-top: 14px;
}

$inactive: #aaa;
$active: rgb(255, 158, 56);
$speed: 1.2s;
$size: 50px;
$unit: $size / 16;

%spinner {
  display: block;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: $unit solid $inactive;
  animation: spinner $speed linear infinite;
}
@keyframes spinner {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

%spinner-double-section {
  @extend %spinner;
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%;
    border: $unit solid transparent;
    border-top-color: $active;
  }
  &:after {
    border-top-color: transparent;
    border-bottom-color: $active;
  }
}

.loading-spinner{
  @extend %spinner-double-section;
  position: absolute;
  top: 0px;
  left: 0px;
	
  &:before,
  &:after {
    top: ($unit*-3);
    left: ($unit*-3);
    width: ($size + $unit*4);
    height: ($size + $unit*4);
  }
}

.loading-logo{
	background-color: rgba(79, 158, 245, .8);
	width: $size;
  height: $size;
  padding-top: 9px;
  padding-right: 4px;
  border-radius: 50%;
  text-align: center;
	font-family: $font-logo;
	position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	font-size: 2.8rem;
  z-index: 5;
}