.bg-video-container{
	min-width: 100%;
	min-height: 100%;
	// height: 100vh;
	// overflow: hidden;
	width: auto;
	position: fixed;
	background-color: rgba(42, 86, 128,1);
	transition: opacity 0.4s;
	// opacity: 0;
}

.bg-video{
	min-width: 100%;
	min-height: 100%;

	height: auto;
	width: auto;
	position: fixed;
	opacity: 0.6;
}

.login-field input{
	height: 50px;
	font-size: 2rem;
	margin: 30px 0;
}

.button-login{
	float: right;
	width: 45%;
	background-color: #122B46;

}

.button-signup{

	float: left;
	width: 45%;
	background-color: #9491BF;
}

.button-login, .button-signup{
	margin-top: 10px;
	margin-bottom: 20px;
}

.error-message{
	font-size: 2rem;
	text-align: center;
	color: $color-secondary-text;
	margin-top: 20px;
	opacity: 0;
	position: relative;
	transition: opacity .2s;
	z-index: -1;
	clear: both;
}

.error-message-show{
	opacity: 1;
}

.logo{
	text-align: center;
	font-family: $font-logo;
	margin-top: 100px;
	font-size: 12rem;
	margin-bottom: -20px;
	text-indent: -1.4rem;
}

.tag-line{
	font-family: $font-main;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 200;
	margin-bottom: 40px;
}

.skip-login{
	float: right;
	font-size: 1.5rem;
	color: #1B207C;
	text-decoration: underline;
}

.skip-login span{
	font-size: 1.3rem;
	vertical-align: -1px;
}

.swell-desc{
	text-align: center;
	font-size: 2rem;

	margin-bottom: 0;
	color: $color-secondary-text;
}

.swell-desc-break{
	border-color: $color-secondary-text;
	opacity: 0.4;
}
