.view
  h1.logo.fadeInDown.animated Swell
  h4.tag-line.fadeInDown.animated Real time Surf Conditions.

  .row
    .col-xs-10.col-xs-offset-1
      p.swell-desc Swell is a community based app for surfers, by coders.
      p.swell-desc Help fellow surfers by rating the conditions at the beach.
  .row
    .col-xs-4.col-xs-offset-4
      hr.swell-desc-break
  .row
    .col-xs-10.col-xs-offset-1
      p.swell-desc Sign up now to see what's happening out there, right now.

  .col-xs-10.col-xs-offset-1
    .form-group.login-field
      input.form-control.animated(type="email", name="email", placeholder="Email" autofocus)
    .form-group.login-field
      input.form-control.animated(type="password", name="password", placeholder="Password")

    input.btn.btn-primary.btn-lg.button-login(type="submit", value="Login", data-route="/login")
    input.btn.btn-primary.btn-lg.button-signup(type="submit", value="Sign Up", data-route="/signup")
    p.error-message

    a.skip-login(href="#location") Sign up Later
      span.glyphicon.glyphicon-menu-right
